@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
}

.input {
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*шапка*/

.page-header {
  color: #000000;
  padding: 0 70px;
}

.navigation {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-items: center;
  position: relative;
}

.main-logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 185px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: block;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  left: 0;
  right: 0;
  bottom: -2px;
  position: absolute;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-item {
  margin: 0 32px 0 0;
}

.navigation-item:last-child {
  margin: 0;
}

.navigation-user-list {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
  padding: 18px 12px;
  display: block;
  min-width: 16px;
  min-height: 22px;
  position: relative;
}

.navigation-user-link:hover {
  color: #756157;
}

.navigation-user-link:focus {
  color: #756157;
}

.navigation-user-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.favourites {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 4px;
}

.favourites:hover,
.favourites:focus {
  background: #6C9E42;
  color: #ffffff;
}

.favourites:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.favourites:disabled {
  background: #E5E5E5;
}

.button-want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  display: block;
  max-width: 160px;
  padding: 8px 36px;
  border-radius: 4px;
  margin-left: 20px;
}

.button-want-here:hover,
.button-want-here:focus {
  background: #615048;
  border-radius: 4px;
  color: #ffffff;
}

.button-want-here:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-want-here:disabled {
  background: #E5E5E5;
}

/*главная страница*/

.main-index {
  background-color: #ffffff;
}

.hero {
  background-color: #333333;
  background-image: url("../images/index/add-background.svg"), url("../images/index/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  padding: 51px 0 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
  padding: 69px 0 0;
}

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 25px;
  max-width: 620px;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 90px;
  max-width: 651px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-big {
  display: flex;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 62px;
  max-width: 175px;
}

.advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  left: 60px;
}

.advantages-title-img::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  bottom: -32px;
  left: 60px;
}

.advantages-description {
  margin: 0 auto;
  max-width: 230px;
}

.advantages-item-colorlight {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-color {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.recommendation {
  text-align: center;
  padding: 64px 0 0;
}

.recommendation-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 505px;
  margin: 0 auto 20px;
}

.recommendation-because {
  font-size: 22px;
  line-height: 26px;
  max-width: 490px;
  margin: 0 auto 64px;
}

.recommendation-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.recommendation-item {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 81px 0 0;
}

.advantages-item-icon {
  margin: 0 0 24px 0;
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 230px;
}

.recommendation-description {
  margin: 0 auto 81px;
  max-width: 230px;
}

.recommendation-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  padding: 96px 0;

}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  max-width: 297px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px;
  max-width: 592px;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 376px;
  display: block;
  padding: 8px 50px;
  border-radius: 4px;
}

.search-link:hover,
.search-link:focus {
  background: #615048;
  border-radius: 4px;
  color: #ffffff;
}

.search-link:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.search-link:disabled {
  background: #E5E5E5;
  border-radius: 4px;
}

.subscribe {
  background-color: #333333;
  background-image: url("../images/index/subscription-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 0 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 20px;
  max-width: 404px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 54px;
  max-width: 592px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.input-grey {
  background: #F2F2F2;
}

.input-subscribe {
  flex-grow: 1;
  padding: 14px 20px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
}

.input-subscribe:active {
  outline: 2px solid #000000;
  color: #000000;
}

.input-subscribe:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0;
  border: none;
  border-radius: 0 4px 4px 0;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background: #68A2CA;
  border-radius: 4px;
}

.button-subscribe:active {
  background: #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled {
  background: #E5E5E5;
  border-radius: 4px;
}

/*каталог*/

.catalog-form-filter {
  background-color: #333333;
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 0 50px;
  padding: 35px 70px 70px;
}

.main-inner {
  background-color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  font-size: 18px;
  line-height: 23px;
  border: none;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 0 32px;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-infrastructure {
  margin-right: 70px;
  min-width: 150px;

}

.filter-type-house {
  margin-right: 140px;
  min-width: 150px;
}

.filter-cost {
  margin-right: 70px;
}

.filter-button-container {
  min-width: 191px;
  text-align: center;
  align-self: end;
}

.catalog-filter-range {
  display: flex;

}

.range-input {
  width: 143px;
  font-weight: 700;
  max-height: 48px;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 12px 12px 20px;
  font-family: inherit;
  background: #f2f2f2;
  margin-bottom: 45px;
  border: none;
}

.min-price {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
  outline: 3px solid rgba(255, 255, 255, 0);
}

.catalog-filter-label {
  position: relative;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.cost-from {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 30%;
  font-style: inherit;
  cursor: auto;
  right: 20px;
  top: 15%;
}

.cost-to {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 30%;
  font-style: inherit;
  cursor: auto;
  right: 20px;
  top: 15%;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: none;
  margin-bottom: 27px;
  border-radius: 4px;
}

.button-apply:hover,
.button-apply:focus {
  background: #68A2CA;
  border-radius: 4px;
}

.button-apply:active {
  background: #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:disabled {
  background: #E5E5E5;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 58px;
  background: none;
  border: none;
  border-radius: 4px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  background: #E5E5E5;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 8px auto 40px;
}

.breadcrumbs-item {
  padding: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  list-style-type: none;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link,
.breadcrumbs-link:focus {
  color: #ffffff;
  text-decoration: none;
  display: flex;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-holels {
  padding: 0 70px 0;
}

.catalog-holels-sorting {
  display: flex;
  margin: 0 0 40px;
  align-items: center;
}

.hotel-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  min-width: 338px;
  text-transform: uppercase;
}

.select-control {
  position: relative;
  min-width: 292px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 62px;
  background-color: #ffffff;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin-left: 200px;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
  outline: none;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover,
.control-mark:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 10px;
  background-image: url(../images/catalog/check.svg);
  content: "";
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  outline: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 3px solid #83B3D3;
}

.control-label {
  line-height: 23px;
  font-weight: 400;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #484646;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover,
.range-toggle:active,
.range-toggle:focus {
  background: #E5E5E5;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.sorting-list {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;

}

.sorting-item {
  list-style-type: none;
}

.sorting-item-link {
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 0 0 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-item-link:hover {
  outline: 2px solid #000000;
  border-radius: 4px;
}

.sorting-item-link:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.sorting-item-link:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}

.product-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 0 80px;
  padding: 0;
}

.product-card {
  color: #000000;
  width: 340px;
  padding: 20px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px
}

.product-card-title {
  margin: 13px 0 13px;
}

.product-type-houseprice {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

.product-card-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 16px;
}

.hotel-card-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  text-transform: none;
}

.product-card-link:hover {
  opacity: 0.7;

}

.product-card-link:focus {
  opacity: 0.7;
}

.product-card-link:active {
  opacity: 0.6;

}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  text-align: right;
  color: #333333;
}

.product-type-house {
  color: #333333;
}

.product-card-button-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
}

.product-card-button-favourites:hover,
.product-card-button-favourites:focus {
  background: #68A2CA;
  border-radius: 4px;
}

.product-card-button-favourites:active {
  background: #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-favourites:disabled {
  background: #E5E5E5;
  border-radius: 4px;
}

.favourites-current {
  background: #7DB54F;
  padding: 8px 20px;
}

.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border: none;
  padding: 8px 26px;
  border-radius: 4px;

}

.product-card-button-more:hover,
.product-card-button-more:focus {
  background: #615048;
  border-radius: 4px;
  color: #ffffff;
}

.product-card-button-more:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-more:disabled {
  background: #E5E5E5;
  border-radius: 4px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
  padding: 9px 22px;
  border-radius: 4px;
}

.hotels-stars {
  margin: 0;
  width: 114px;
  height: 17px;
  background: url("../images/catalog/stars.svg") left 50% no-repeat;
}

.four-stars {
  width: 90px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.subscribe-catalog {
  text-align: center;
  padding: 96px 0 104px;
}

.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 20px;
  max-width: 404px;
}

.subscribe-catalog-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0 auto 54px;
  max-width: 475px;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  border: none;
  padding: 0;
  margin: 0 0 60px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
  color: #ffffff;
  outline: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68A2CA;
  color: #ffffff;
  outline: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.pagination-item {
  margin: 0 8px 0 0;
}

.pagination-item:last-child {
  margin: 0;
}

.pagination-also {
  color: #000000;
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/*футер*/

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 70px 30px;
  align-items: center;
}

.social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.social-media-item {
  width: 47px;
  height: 40px;
}

.social-media-link {
  display: block;
  text-decoration: none;
  color: #83B3D3;
  position: relative;
  padding: 12px 12px;
}

.social-media-link:hover {
  color: #68A2CA;
}

.social-media-link:hover {
  color: #68A2CA;
}

.social-media-link:active {
  color: #68A2CA4D;
}


.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-html-link {
  display: flex;
  color: #000000;
}

.logo-html-link:hover {
  color: #756157;
}

.logo-html-link:focus {
  color: #756157;
}

.logo-html-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.is-active {
  display: flex;
}

.modal {
  position: relative;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6;
  opacity: 0.3;
  border: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}


.count-people {
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 110px;
  margin-bottom: 48px;
}

.form-label-kids {
  grid-column: 4/5;
  margin: auto 0;
}


.form-label-adults {
  grid-column: 1/2;
  margin: auto 0;
}

.button-find {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: #83B3D3;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 257px;
  margin: 0;
  border: none;
  color: #ffffff;
}

.button-find:hover,
.button-find:focus {
  background: #68A2CA;
}

.button-find:active {
  background: #68A2CA;
  opacity: 0.3;
}

.button-find:disabled {
  background: #E5E5E5;
}

.form-date {
  position: relative;
}

.calendar {
  position: absolute;
  content: '';
  background-image: url(../images/modal/calendar.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.date {
  margin: 0;
  padding: 12px 20px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 100%;
  color: #000000;
}

.date:hover {
  background: #E6E6E6;
  color: #000000;
  opacity: 0.6;
}

.date:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  color: #000000;
  opacity: 0.6;
}

.date:active {
  color: #000000;
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.date::placeholder {
  color: #000000;
  opacity: 0.6;
}

.date:focus:invalid {
  outline: 2px solid #000000;
  color: #000000;
}

.setting-search {
  display: grid;
  position: relative;
  grid-template-columns: 119px 1fr;
  gap: 4px 18px;
  align-items: center;
}

.control-not {
  grid-column: 2 / -1;
}

.control-yes {
  grid-column: 2 / -1;
}

.message {
  margin-bottom: 19px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.control-not {
  color: #FF5757;
}

.quantity-people {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 10px;
  width: 31px;
  height: 51px;
  background: #F2F2F2;
  border: none;
  color: #000000;
}

.button-count-adults {
  grid-column: 2/3;
  display: flex;
}

.button-count-kids {
  grid-column: 5/6;
  display: flex;
}

.button-min {
  border: none;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  color: rgba(117, 97, 87, 0.3);
  padding: 14px 10px;
}

.button-max {
  border: none;
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  color: rgba(117, 97, 87, 0.3);
  padding: 14px 10px;
}

.modal-button:hover .modal-button-icon {
  color: #000000;
}

.modal-button:focus .modal-button-icon {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  color: #000000;
}

.modal-button:active .modal-button-icon {
  opacity: 0.2;
  border: none;
}

.tooltip {
  position: absolute;
  margin-top: 0;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  z-index: 3;
  box-sizing: border-box;
  position: absolute;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 15px 20px;
  top: 44px;
  left: -115px;
  width: 256px;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 30%);
  display: none;
}


.tooltip-text:after {
  content: '';
  background-image: url("../images/modal/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.6;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
