@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-link {
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
}

.navigation-user-link {
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #ffffff;
  text-transform: capitalize;
}

.favourites {
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.button-want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
}

.hero {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-color: #333333;
  background-image: url("../images/index/add-background.svg"), url("../images/index/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.advantages {
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommendation {
  text-align: center;
  background-color: #FFFFFF;
}

.recommendation-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.recommendation-because {
  font-size: 22px;
  line-height: 26px;
}

.real-city {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.small-area {
  background-color: rgba(131, 179, 211, 0.12);
}

.beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.few-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.bridge-devil {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.recommendation-because {
  font-size: 22px;
  line-height: 26px;
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.houses {
  background-color: rgba(131, 179, 211, 0.12);
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  background-color: #FFFFFF;
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  width: 1200px;
  height: 415px;
  margin: 0 auto;
  background-color: #333333;
  background-image: url("../images/index/subscription-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-filter-hotels {
  /*width: 1200px;
  height: 412px;*/
  background-color: #333333;
  background-image: url("../images/catalog/filter-background.jpg");
  color: #000000;
  background-repeat: no-repeat;
}

.catalog-filter-hotels {
  color: #FFFFFF;
}

.catalog-holels {
  background-color: #FFFFFF;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.sorting-item-link {
  color: #000000;
  text-decoration: none;
}

.product-card {
  color: #000000;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  text-transform: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  text-align: right;
  color: #333333;
}

.product-type-house {
  color: #333333;
}

.product-card-button-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.subscribe-catalog {
  width: 1200px;
  height: 415px;
  background-color: #FFFFFF;
  text-align: center;
}


.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.main-footer {
  background-color: #FFFFFF;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.social-media-link {
  text-decoration: none;
  color: #000000;
}
