@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.button {
  font-family: "PT Sans", "Arial", sans-serif;
}

.input {
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

/*шапка*/

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  width: 465px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 312px;
  margin-left: auto;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
}

.favourites {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.button-want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

/*главная страница*/

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  background-color: #ffffff;
}

.hero {
  background-color: #333333;
  background-image: url("../images/index/add-background.svg"), url("../images/index/index-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-intro {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 69px 290px 0;
  margin-bottom: 25px;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  padding: 0 274px 69px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-big {
  display: flex;
}

.advantages-item {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  padding: 113px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-colorlight {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-color {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.recommendation {
  text-align: center;
}

.recommendation-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 64px 347px 0;
  margin-bottom: 20px;
}

.recommendation-because {
  font-size: 22px;
  line-height: 26px;
  padding: 0 355px 64px;
}

.recommendation-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.recommendation-item {
  width: 400px;
  height: 385px;
  padding: 81px 85px;
}

.recommendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommendation-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  padding: 96px 304px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  background-color: #333333;
  background-image: url("../images/index/subscription-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/*каталог*/

.catalog-form-filter {
  background-color: #333333;
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.main-inner {
  background-color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin-bottom: 70px;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-holels-sorting {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 70px;
}

.sorting-item{
  list-style: none;
}

.sorting-item-link {
  color: #000000;
  text-decoration: none;
}

.product-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  color: #000000;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  text-transform: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-price {
  text-align: right;
  color: #333333;
}

.product-type-house {
  color: #333333;
}

.product-card-button-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.subscribe-catalog {
  width: 1200px;
  height: 415px;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style: none;
}

.pagination-item {
  width: 60px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*футер*/

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.social-media {
  width: 190px;
  margin-right: 237px;
}

.social-media-list {
  margin: 0;
  list-style: none;
}

.social-media-link {
  text-decoration: none;
  color: #000000;
}

.phone {
  width: 331px;
  margin-right: auto;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-html {
  margin-left: auto;
  max-width: 340px;
}
